@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: "#173b53";
  --color-secondary: "#F9F6F3";
  --color-base-200: "#F4F4F4";
  --color-base-300: "#E9E9E9";
}

